body {
  margin: 0;
}

.main {
  display: flex;
  padding: 43px 57px;
  gap: 60px;
  /* height: 100vh; */
}

.menu {
  background-color: #0c0b0b;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.menu-img {
  cursor: pointer;
  padding: 28px;
}

.menu-img:hover {
  background-color: #f1d5bb;
}

.menu-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-page p {
  font-size: 50px;
  margin: 0;
  border-bottom: 4px solid #f1d5bb;
  padding-bottom: 15px;
  font-weight: 700;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 240px);
}

.menu-card img {
  height: 190px;
  cursor: pointer;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-menu {
  display: flex;
  gap: 30px;
  background-color: #f1d5bb;
  padding: 20px;
}

.cart-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity-container h5 {
  background-color: #fff;
  padding: 10px;
}

.cart-container {
    display: flex;
    gap: 30px;
}

.cart-total {
    background-color: #f1d5bb;
    padding: 20px;
    height: 300px;
}

.cart-total h3 {
    font-size: 40px;
}

.total-text {
    font-size: 30px;
}
